<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>

    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-app="myApp">
<div ng-controller="mainController">
    <input type="text" ng-model="testo"/>
    <br/>

    <div>{{testo}}</div>

    <button type="button"
            ng-click="reset()"
            ng-show="testo.length>0">Clear
    </button>

    <div ng-repeat="p in products">
        <h2>{{p.id}} - {{p.name}}</h2>
        <p>{{p.description}}</p>
        <button type="button" ng-click="deleteProd(p, $index)">Cancella</button>
    </div>
</div>
</body>
</html>
