.container{
    box-shadow: #0f0f0f 0 0 4px 4px;
    background-color: white;
}
body{
    background-color: #74b2e2;
}
#login {
    width: 100%;
}

.log {
    padding-top: 0.5em;
}

#logo{
    height: 12em;
    background: url("https://40.media.tumblr.com/643c30d8316857529ed8363e2ab23965/tumblr_n4ler522Mw1r9wivqo1_1280.jpg") no-repeat;
    background-position-x: 50%;
    background-size: 20%;
    margin-top: 2em;
    opacity: .5;
}